.meetJanie {
    background-color: #9DCED4;
    padding: 7rem 0;
    font-size: 2.5rem;
    text-align: center;
    color: #101240;
}

h3 {
    font-style: italic;
}

p {
    font-size: 16px;
}

.mainAboutContainer {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 34.125rem;
}

.mainAboutText {
    margin-right: 1rem;
}

.familyImage {
    display: block;
    float: right;
    width: 546px;
    height: 545px;
}