html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  display: block;
  background-color: #9DCED4;
  padding: 5rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: #101240;
  margin: 0;
}